# Ignore swap files from editors like vim
*.swp

# Ignore temporary files
*.bak
*.tmp

# Ignore macOS .DS_Store files
.DS_Store

# Ignore log files
*.log

# Neovim specific
.netrwhist
plugin/packer_compiled.lua
lazy-lock.json
.luarc.json

# Node.js
node_modules/

# Undo directory
undodir/

# Local/private configurations
**/*local*
**/*private*
**/*.secret*
**/*.key*

